body{
    background-color: rgb(61,61,61);
    color: rgba(255,255,255,0.8);
    font-family: 'Poppins', sans-serif;
}
#mainText{
    margin-top: 5vh;
}

#intro{
    margin-top: 50px;
}

#work{
    background-color: rgb(61,61,61);
}

#p1{
    height: 350px;
}
